body{
    background-color: #CCD1D1;
    margin: 0;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    font-family: Serif;
    text-align: left;
    font-size: 17px;
    background-color: lightgray;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #B3B6B7;
    color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

div {
    width: 800px;
    margin: auto;
}

button{
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}
.course-image{
    size: 50%;
    width: 50%
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-bottom: 0%;
    display: block; 
}